name: Build Android APK
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    # 1. Instalar librerías de Linux necesarias (Esto arregla el error de GTK)
    - name: Install Linux dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-3-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flet
        
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.0'
        channel: 'stable'
    
    # 2. Aceptar Licencias de Android explícitamente (Esto arregla el error de Android toolchain)
    - name: Accept Android Licenses
      run: |
        yes | flutter doctor --android-licenses
        
    - name: Flet Build APK
      run: |
        flet build apk --project . --verbose
        
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: finanzas-app-release
        path: build/apk/app-release.apk
